# DVM Worker Configuration
# Optional: Private key (in nsec... or 64-character hex format) for the DVM Worker bot.
# If left unset, the worker will automatically generate a new ephemeral keypair each time it runs.
DVM_SECRET_KEY=
